.movie-card {
    position: relative;
    width: 250px;
    margin: 12px;
    background-color: rgb(61, 60, 60);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.5s;
}
.movie-card:hover {
    transform: translateY(-10px);
}

.movie-card img {
    max-width: 100%;
}
.movie-info {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
.movie-info h3 {
    text-align: left;
}

.movie-card-desc {
    position: absolute;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: black;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}
.movie-card:hover .movie-card-desc{
    transform: translateY(0%);
}

.tag {
    background-color: rgb(49, 47, 47);
    padding: 3px 5px;
    border-radius: 5px;
}
.tag.orange {
    color: orange;
}
.tag.green {
    color: rgb(4, 181, 4);
}
.tag.red {
    color: red;
}